
@import "../../styles/variables";

.movie-card {
  border: 1px solid $secondary-color;
  background-color: $primary-color;
}
.movie-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

